<!doctype html>
<html>
  <head>
<% if flash(:error) %>
  <%= flash[:error] %> 
<% end %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
 <body>

<h1> Welcome, <%= @user.username %></h1>
<a href="/games/console"><button>Sort by Console</button></a>
<a href="/games"><button>Sort by Name</button></a>
<h2> Your Game Collection </h2>

<a href="/games/add"><button>Add Game</button></a>

<a href="/logout"><button>Log Out</button></a>


<div class="container">
<div class="col">
<div class="row">

<% @user.games.sort_by(&:players).each do |game| %>
<p>
<br>
   <ul> <a href="/games/<%=game.id%>/show"><b><%=game.name%><b></a></ul>
   <ul> <b>Console:</b> <%=game.console %></ul>
  <ul>  <b>Number of Players:</b> <%=game.players %> </ul>
  
    </p>
<% end %>
</div>
</div>
</div>