

<h1> Welcome, <%= @user.username %></h1>
<h2> Your Game Collection </h2>

<a href="/games/add"><button>Add Game</button></a>

<a href="/logout"><button>Log Out</button></a>

<% @user.games.each do |game| %>
<ol>
    <p>
    
    <ul><a href="/games/<%=game.id%>/show"><b><%=game.name%><b></a> 
    <ul><b>Console:</b> <%=game.console %> </ul>
    <ul><b>Number of Players:</b> <%=game.players %> </ul>
    
    </p>
</ol>
<% end %>


