Your Game Collection

<h1> Welcome, <%= @user.username %></h1>
<h2> Games </h2>

<a href="/games/new"><button>Add Game</button></a>
<a href="/games/:id/edit"><button>Edit Game</button></a>
<a href="/logout"><button>Log Out</button></a>

<% @game.each do |game| %>
    <p><a <%=game.name%> ><%= game.name %> <%= game.players %> <%= game.user_id %></a> </p>
<% end %>


